<div id="main">
  <p>{{{question}}}</p>
  <form action="{{route}}" method="post" autocomplete="off">
    <input type="text" name="r" size="45">
    <input id="hidden-token" type="hidden" name="t">
    <input type="submit">
  </form>
</div>

<div id="leaderboard">
  <div id="leaders-wrapper">
    <div id="leaders">
      <h1>Leaderboard</h1>
      {{#each leaderboard}}
        <h2>{{this.key}}</h2>
        {{#each this.ordered}}
          {{this.name}} at {{this.at}}</br>
        {{/each}}
      {{/each}}
    </div>
  </div>

  <div id="newest-wrapper">
    <div id="newest">
      <h1>Newest</h1>
      {{#each newest}}
        {{this.name}} at {{this.at}}</br>
      {{/each}}
    </div>
  </div>
</div>