<div>
  {{{question}}}
  <form action="{{route}}" method="post">
    <input type="text" name="r" size="45">
    <input id="hidden-token" type="hidden" name="t">
    <input type="submit">
  </form>
</div>

<div>
  <h1>Leaderboard:</h1>
  {{#each leaderboard}}
    <h2>{{this.key}}</h2>
    {{#each this.ordered}}
      {{this.user}} at {{this.at}}</br>
    {{/each}}
  {{/each}}
</div>