<div>
  {{question}}
  <form action="{{route}}" method="post">
    <input type="text" name="r" size="45">
    <input type="hidden" name="t" value="{{token}}">
    <input type="submit">
  </form>
</div>

<div>
  {{#each leaderboard}}
    <h1>{{this.key}}</h1>
    {{#each this.ordered}}
      {{this.user}}</br>
    {{/each}}
  {{/each}}
</div>